body {
	font-family: Arial;
	font-size: 12px;
	color : #000000;
}

.navbar {
	background-color:#4caf50;
}

nav li a {
	color: #000000;
}

/*nav a {
	background-color: green;
}
}*/

/* Slider*/
section .slider {
	margin-top: -15px;
}

/* paragraph*/

.styles {
   text-align: justify; 
  -moz-text-align-last:center; 
 
  letter-spacing: 0px;
}

/**/
h5 {
	text-align: center;
}

/*span section*/
span {
	color:green;
	font-weight: bold;
}



.opacities{
	opacity: 0.4;
}

.parallax-container{
	height: 150px;
}

.titles {
	padding-top: 50px;
	padding-bottom: 50px;
}


section #home{
	padding-top: 50px;
	margin-top: 20px;
}

p {
  text-align: justify; 
  -moz-text-align-last:center; 
/*  text-align-last: center; */
  
}

.contacts {
	font-size: 14px;
	font-weight: bold;
}